.list-custom a {
  text-decoration: none;
}
.list-group-item {
  background-color: #0c60aa;
  border-top: white;
  border-bottom: 1px solid white;
  color: white;
  height: 60px;
}
.list-group-item:hover {
  background-color: white;
  color: #0c60aa;
  font-weight: bold;
  border-right: none;
  border-left: none;
}
.list-group-item.active {
  background-color: white;
  color: black;
  font-weight: bold;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid white;
}
.img-custom {
  border-radius: 200px;
  width: 150px;
}
.nav-custom {
  background-color: #0b3961;
  font-weight: bold;
  height: 70px;
}
